<html lang="en">
    {% load static %}
<head>

    
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
    
</head>
<body>
 
    <nav id="navbar">
        <ul class="flex flex-row justify-between pt-3">
                <div class="flex flex-row gap-4 justify-center items-center">
                    <li>
                        <form action="{% url 'logout' %}" method="post" style="display: inline;">
                           
                            {% csrf_token %}
                            
                            <button  class="border border-gray-700 m-0 p-1 rounded-lg bg-gray-200 hover:bg-gray-400">
                                Déconnexion
                        </form>
                    </a>
                    </li>
                    <li><a href="{% url 'list_sites' %}" class="border border-gray-700 p-1 rounded-lg bg-gray-200 hover:bg-gray-400 ">Liste des Sites</a></li>
                    <li><a href="{% url 'add_site' %}" class="border border-gray-700 p-1 rounded-lg bg-gray-200 hover:bg-gray-400">Ajouter un Site</a></li>
                </div>
            
                <div class="flex flex-row gap-4 justify-center items-center">
                    <li><a href="{% url 'export_csv' %}" class="border border-gray-700 p-1 rounded-lg bg-gray-200 hover:bg-gray-400">Exporter CSV</a></li>
                    <li><a href="{% url 'import_csv' %}" class="border border-gray-700 p-1 rounded-lg bg-gray-200 hover:bg-gray-400">Importer CSV</a></li>
                </div>
                <div class="flex flex-row gap-4 justify-center items-center">
                    <li>
                        <a href="" class="border border-gray-700 p-1 rounded-lg bg-gray-200 hover:bg-gray-400" id="toggleDarkMode"></a> 
                    </li>
                </div>
        </ul>
    </nav>
    

    {% block content %}{% endblock %}
    {% block content2 %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/darkmode.js' %}"></script>

</body>
</html>