#navbar{
    height: 7%;
}
.maincontent{
    min-height: 95%;
    .form-site{
        p{
            margin-bottom: 2em;
        }
    }
}
    [data-theme="light"] {
        #navbar{
            background-color: blue;
        }
    }
    
    [data-theme="dark"] {
        input{
            background-color: rgb(4, 4, 80);
        }
        .form-site{
            background-color: darkblue
        }
        .maincontent{
            background-color: black;
            li{
                background-color: darkblue;
            }
        }
        div{
            color: white;
        }
        #navbar{
            background-color: darkblue;
            color:black ;
            a{
                background-color: black;
            }
        }
    }
    

