/* 
body {
    transition: background-color 0.5s ease;
}

body.dark-mode {
    background-color: #121212; 
} */

 
/* .test{
    background-color: aliceblue;
} 
.test-dark{
    background-color:#8c12f7 !important;
}
     */