{% extends "base.html" %}
<html>
<head>
    {% block content %}
    <title>Ajouter un site</title>
    {% endblock %}
</head>
<body>
    {% block content2 %}
    <div class="flex flex-col text-center p-3">
        <h1 class="p-1">Ajouter un site</h1>
        <form method="post" action="{% url 'add_site' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="bg-blue-500
            px-3 py-1 rounded-lg text-white my-2">Ajouter</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>