{% extends 'base.html' %}

{%block content%}
    <div class="maincontent flex items-center justify-center flex-col bg-white ">
        <h1 class="flex justify-center text-3xl" >Importer des mots de passe depuis un fichier CSV</h1>

        <form class="flex justify-center " method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <button  class="flex justify-center  bg-blue-500 text-white px-3 py-1 rounded-md hover:bg-blue-700" type="submit">Importer</button>
        </form>
    </div>
{% endblock %}